@font-face {
  font-family: 'GalakPro-Bold';
  src: url('../fonts/GalakPro-Bold.otf');
}

@font-face {
  font-family: 'GalakPro-Heavy';
  src: url('../fonts/GalakPro-Heavy.otf');
}

@font-face {
  font-family: 'GalakPro-Light';
  src: url('../fonts/GalakPro-Light.otf');
}

@font-face {
  font-family: 'GalakPro-Medium';
  src: url('../fonts/GalakPro-Medium.otf');
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,400;1,500&display=swap');
