/* Importation des polices */
@import './style/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-mask {
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 1) 30%
    );
    mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 1) 30%
    );
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  .text-size {
    font-size: clamp(14px, 1vw, 16px);
  }
  .title-clamp {
    font-size: clamp(24px, 2vw, 32px);
  }

  .genre-mask {
    -webkit-mask-image: radial-gradient(
      ellipse at center,
      black 40%,
      transparent 70%
    );
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 70%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}
