/* Importation des polices */
@import './style/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1300px;
    perspective-origin: center center;
    transform: rotateY(25deg);
  }

  .cube-container {
    perspective: 1000px;
  }

  .cube {
    transform-style: preserve-3d;
    animation: spin 200s infinite linear;
  }

  .cube:hover {
    animation-play-state: paused;
  }
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(3600deg) rotateY(3600deg) rotateZ(3deg);
  }
}
